<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="vuconnect" parallel="methods" thread-count="1" verbose="1" preserve-order="true"
       data-provider-thread-count="1">
    <test name="vuconnect" preserve-order="true">
        <classes>
            <class name="com.vuclip.premiumengg.automation.vuconnect.base.InitializeTestSuite"></class>
            <class name="com.vuclip.premiumengg.automation.vuconnect.tests.Billing"></class>
        </classes>
    </test>
</suite>