<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="sms-service" parallel="false" thread-count="1"
	verbose="1" preserve-order="true" data-provider-thread-count="1">
	<test name="sas-service" preserve-order="true">
		<classes>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.common.base.InitializeTestSuite"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.BlackoutTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.NgativeTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SASActivation_RetryTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SASActivationTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SASDeactivationRetryTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SASDeactivationTest"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SASFreeTrailRenewalTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SASRenewalTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SASRenewal_RetryTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SASSystemChurnTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SASTest"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SASWinbackTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.SchedulerAPINegativeTests"></class>
			<class name="com.vuclip.premiumengg.automation.scheduled_activity_service.tests.UserSubscriptionAPINegativeTests"></class>
			
		</classes>
	</test>
</suite>