<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="sms-service" parallel="methods" thread-count="1"
	verbose="1" preserve-order="true" data-provider-thread-count="1">
	<test name="sms-service" preserve-order="true">
		<classes>
			 <class name="com.vuclip.premiumengg.automation.scheduled_activity_service.common.base.InitializeTestSuite"></class> 
		
		</classes>
	</test>
</suite>